<h5>Does this evidence type includes...</h5><br>
<!-- Reporting an adverse event -->
<table style="width:100%">
  <tr><td style="width:50%"><label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Reporting an adverse event? </label></td> 
    <td style="width:20%"><label class="radio-inline">
	<input name="cr-ae" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input  name="cr-ae" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input  name="cr-ae" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>

  <!-- Publically reported -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Publically reported? </label> </td>
    <td style="width:20%"><label class="radio-inline">
	<input name="cr-pr" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="cr-pr" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="cr-pr" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>
    

  <!-- Following an evaluation protocol --> 
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Following an evaluation protocol? </label> </td>
    <td style="width:20%"><label class="radio-inline">
	<input name="cr-ep" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="cr-ep" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="cr-ep" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>
</table>
