<h5>Please answer the following questions for inclusion criteria.</h5><br>
<table style="width:100%">
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Previous Credible Reports in Humans? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-1">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-1">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-1">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Interaction Consistent with Known Interactive Qualities of the Precipitant Drug? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-2">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-2">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-2">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Interaction Consistent with Known Interactive Qualities of the Object Drug? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-3">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-3">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-3">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Interaction Consistent with Known Reasonable Time Course of the Interaction (onset and/or offest)? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-4">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-4">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-4">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Did the interaction remit upon de-challenge of the precipitant drug with no change in oject drug? (If no de-challenge, use unknown and skip to question 6)? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-5">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-5">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-5">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Did the interaction reappear when precipitant drug was readministered with continued used of object drug? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-6">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-6">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-6">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Reasonable alernative causes? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-7">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-7">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-7">Unsure
    </label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the object drug detected in the blood or other fluids in concentrations consistent with the interaction?: </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-8">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-8">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-8">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the drug interaction confirmed by objective evidence consistent with the affects on the object drug (other than from question 8)?: </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-9">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-9">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-9">Unsure</label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the interaction greater when the precipitant dose was increased or less when the precipitant dose was decreased? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-10">Yes</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-10">No</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="cr-ic-question-10">Unsure</label></td>
  </tr>
  
</table>       
