<h5>Does this evidence type include...</h5><br>
<table style="width:100%">

  <!-- CT-DDI Group Randomization radio button -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Group Randomization? </label></td>
    <td style="width:20%">
      <label class="radio-inline">
	<input name="ct-ev-question-1" type="radio" ng-model="myVar" value="yes">Yes
      </label>
    </td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-1" type="radio" ng-model="myVar" value="no">No
		  </label>
    </td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-1" type="radio" ng-model="myVar" value="unsure">Unsure
      </label>
    </td>
  </tr>

  <!-- CT-DDI Parallel Group Design -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Parallel Group Design? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-2" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-2" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-2" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>

  <!-- CT-DDI Pharmacokinetic Processes -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Study Focused on Pharmacokinetic Processes? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-3" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-3" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-3" type="radio" ng-model="myVar" value="unsure">Unsure
    </label></td>

    <!-- CT-DDI Phenotyping -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Phenotyping? </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-4" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-4" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-4" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>

  <!-- CT-DDI Genotyping -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Genotyping?</label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-5" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-5" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-5" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>
</table>

<button type="button" class="btn btn-default" id="calculate-ct" onclick="ajax('saveEvidenceTypeQuestions', ['evidencetype','ct-ev-question-1', 'ct-ev-question-2', 'ct-ev-question-3', 'ct-ev-question-4', 'ct-ev-question-5'], ':eval');">Calculate</button>
