<h5>Does this evidence type include...</h5><br>
<table style="width:100%">

  <!-- CT-DDI Group Randomization radio button -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Group Randomization? </label><a data-toggle="modal" href="#ct-definitions"> (info)</a></td>
    <td style="width:20%">
      <label class="radio-inline">
	<input name="ct-ev-question-1" type="radio" ng-model="myVar" value="yes">Yes
      </label>
    </td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-1" type="radio" ng-model="myVar" value="no">No
		  </label>
    </td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-1" type="radio" ng-model="myVar" value="unsure">Unsure
      </label>
    </td>
  </tr>

  <!-- CT-DDI Parallel Group Design -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Parallel Group Design? </label><a data-toggle="modal" href="#ct-definitions"> (info)</a></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-2" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-2" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-2" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>

  <!-- CT-DDI Pharmacokinetic Processes -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Study assesses individual drug pharmacokinetics? </label><a data-toggle="modal" href="#ct-definitions"> (info)</a></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-3" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-3" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-3" type="radio" ng-model="myVar" value="unsure">Unsure
    </label></td>

    <!-- CT-DDI Phenotyping -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Phenotyping? </label><a data-toggle="modal" href="#ct-definitions"> (info)</a></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-4" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-4" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-4" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>

  <!-- CT-DDI Genotyping -->
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Genotyping?</label><a data-toggle="modal" href="#ct-definitions"> (info)</a></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-5" type="radio" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-5" type="radio" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input name="ct-ev-question-5" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>
</table>

<button type="button" class="btn btn-default" id="calculate-ct" onclick="ajax('saveEvidenceTypeQuestions', ['evidencetype','ct-ev-question-1', 'ct-ev-question-2', 'ct-ev-question-3', 'ct-ev-question-4', 'ct-ev-question-5'], ':eval');">Calculate</button>


<!-- Modal -->
<div id="ct-definitions" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Clinical study feature definitions </h4>
      </div>
      <div class="modal-body">
        <p><b>Group Randomization:</b> A group assignment which relies on chance to assign materials to a group of materials in order to avoid bias in experimental set up. <a target=_blank href="http://purl.obolibrary.org/obo/OBI_0302900">See in Ontobee</a></p>

	<p><b>Parallel Group Design:</b> A parallel group design or independent measure design is a study design which uses unique experimental unit each experimental group, in other word no two individuals are shared between experimental groups, hence also known as parallel group design. Subjects of a treatment group receive a unique combination of independent variable values making up a treatment. <a target=_blank href="http://purl.obolibrary.org/obo/OBI_0500006">See in Ontobee</a></p>

	<p><b>Pharmacokinetic process:</b> A biological process that has as a participant a part of a drug product and includes absorption, distribution, metabolism and excretion of that substance. <a target=_blank href="http://purl.obolibrary.org/obo/DIDEO_00000052">See in Ontobee</a></p>

	<p><b>Phenotype characterization:</b> An organismal assay that involves characterization of a phenotype; any observable characteristic or trait of an organism: such as its morphology, development, biochemical or physiological properties, behavior, and products of behavior (such as a bird's nest). Phenotypes result from the expression of an organism's genes as well as the influence of environmental factors and the interactions between the two. <a target=_blank href="http://purl.obolibrary.org/obo/ERO_0000923">See in Ontobee</a></p>

	<p><b>Genotyping:</b> An assay in which variation in the genome is analysed. <a target=_blank href="http://www.ebi.ac.uk/efo/EFO_0000750">See in EMBL</a></p>
	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
