<h5>Please answer the following questions for inclusion criteria.</h5><br>
<table style="width:100%">
  
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was there a polymorphic assertion linked as an assumption for the intended use of the evidence item? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-1" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-1" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-1" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
          
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the specific genotype of the enzyme  noted in the description of evidence? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-2" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-2" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-2" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
      
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> If the substrate is being evaluated to support or refute that drug is a substrate of P-Glycoprotein, did the study compare wild type to variants in ABCB1 including 3435C$>$T, 2677G$>$T and 1236C$>$T? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-3" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-3" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-3" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
  
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> If the substrate is being evaluated to support or refute that drug is a substrate of OATP1B1, did the study compare wild type to variants in SLCO1B1? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-4" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-4" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
	<input type="radio" name="ct-ic-question-4" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
     
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> If the substrate is being evaluated to support of refute that a drug is a substrate of OATP1B3, did the study compare wild type to variants in SLCO1B3? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-5" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-5" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ct-ic-question-5" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
  
</table>

