<h5>Does this evidence type includes...</h5><br>
<!-- metabolic experiment sub type -->
<table style="width:100%">
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Subtype? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-1" type="radio" ng-model="myVar" value="inhibition">Inhibition
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-1" type="radio" ng-model="myVar" value="identification">Identification
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-1" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>


  <!-- metabolic experiment assay type -->  
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Assay Type? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-2" type="radio" ng-model="myVar" value="humanTissue">Human Tissue
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-2" type="radio" ng-model="myVar" value="cellLine">Cell Line
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-2" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>

  <!-- metabolic experiment metabolic inhibitor -->  
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Metabolic Inhibitor? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-3" type="radio" ng-model="myVar" value="antibody">Antibody
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-3" type="radio" ng-model="myVar" value="chemical">Chemical
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-ev-mt-question-3" type="radio" ng-model="myVar" value="unsure">Unsure
  </label></td></tr>
</table>

<button type="button" class="btn btn-default" id="calculate" onclick="ajax('saveEvidenceTypeQuestions', ['evidencetype','ex-ev-mt-question-1', 'ex-ev-mt-question-2', 'ex-ev-mt-question-3'], ':eval');">Calculate</button>
