<h5>Does this evidence type include...</h5><br>
<!-- metabolic experiment sub type -->
<table style="width:100%">
  <tr><td style="width:40%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Mechanism? </label><a data-toggle="modal" href="#mt-definitions"> (info)</a></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-1" type="radio" ng-model="myVar" value="inhibition">Inhibition</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-1" type="radio" ng-model="myVar" value="identification">Identification</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-1" type="radio" ng-model="myVar" value="unsure">Unsure</label></td>
    <td style="width:15%"></td>
  </tr>


  <!-- focus on CYP450 -->  
  <tr><td style="width:40%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Focused on a CYP450 enzyme? </label><a data-toggle="modal" href="#mt-definitions"> (info)</a></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-4" type="radio" ng-model="myVar" value="yes">Yes</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-4" type="radio" ng-model="myVar" value="no">No</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-4" type="radio" ng-model="myVar" value="unsure">Unsure</label></td>
    <td style="width:15%"></td>
  </tr>
  
  <!-- metabolic experiment assay type -->  
  <tr><td style="width:40%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Assay Type? </label><a data-toggle="modal" href="#mt-definitions"> (info)</a></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-2" type="radio" ng-model="myVar" value="humanTissue">Human Tissue (e.g., liver microsomes)</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-2" type="radio" ng-model="myVar" value="cellLine">Recombinant cell Line</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-2" type="radio" ng-model="myVar" value="unsure">Unsure</label></td>
    <td style="width:15%"></td>
  </tr>

  <!-- metabolic experiment metabolic inhibitor -->  
  <tr><td style="width:40%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Inhibitor type? </label><a data-toggle="modal" href="#mt-definitions"> (info)</a></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-3" type="radio" ng-model="myVar" value="antibody">Antibody</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-3" type="radio" ng-model="myVar" value="chemical">Chemical</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-3" type="radio" ng-model="myVar" value="none">None</label></td>
    <td style="width:15%"><label class="radio-inline">
        <input name="ex-ev-mt-question-3" type="radio" ng-model="myVar" value="unsure">Unsure</label></td>
  </tr>
</table>

<button type="button" class="btn btn-default" id="calculate-ex-mt" onclick="ajax('saveEvidenceTypeQuestions', ['evidencetype','ex-ev-mt-question-1', 'ex-ev-mt-question-2', 'ex-ev-mt-question-4', 'ex-ev-mt-question-3'], ':eval');">Calculate</button>

<!-- Modal -->
<div id="mt-definitions" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Drug metabolism experiment feature definitions </h4>
      </div>
      <div class="modal-body">
        <p><b>Inhibition (negative regulation)):</b> Any process that stops, prevents, or reduces the frequency, rate or extent of the chemical reactions and pathways within a cell or an organism. <a target=_blank href="http://purl.obolibrary.org/obo/GO_0009892"> See in Ontobee</a></p>

	<p><b>Identification of metabolic process:</b> Experimental characterization of the chemical reactions and pathways, including anabolism and catabolism, by which living organisms transform chemical substances. Metabolic processes typically transform small molecules, but also include macromolecular processes such as DNA repair and replication, and protein synthesis and degradation. <a target=_blank href="http://purl.obolibrary.org/obo/GO_0008152"> See in Ontobee</a></p>

	<p><b>CYP450 enzyme:</b> <a target=_blank href="http://purl.obolibrary.org/obo/CHEBI_38559"> See in Ontobee</a></p>

	<p><b>Human tissue assay:</b> An assay that uses a Human-derived anatomical part or substance arising from an organism. Examples of tissue specimen include tissue, organ, physiological system, blood, or body location (arm).<a target=_blank href="http://purl.obolibrary.org/obo/OBI_0001479"> See in Ontobee</a></p>

	<p><b>Recombinant cell line assay:</b> An assay that uses a cultured cell population that represents a genetically stable and homogenous population of cultured cells that shares a common propagation history (i.e. has been successively passaged together in culture).<a target=_blank href="http://purl.obolibrary.org/obo/CLO_0000031"> See in Ontobee</a></p>

	<p><b>Antibody:</b> An immunoglobulin complex that is secreted into extracellular space and found in mucosal areas or other tissues or circulating in the blood or lymph. In its canonical form, a circulating immunoglobulin complex is composed of two identical heavy chains and two identical light chains, held together by disulfide bonds. Some forms of are polymers of the basic structure and contain additional components such as J-chain and the secretory component.<a target=_blank href="http://purl.obolibrary.org/obo/GO_0042571"> See in Ontobee</a></p>

	<p><b>Chemical:</b> A chemical substance is a portion of matter of constant composition, composed of molecular entities of the same type or of different types. <a target=_blank href="http://purl.obolibrary.org/obo/CHEBI_24431"> See in Ontobee</a></p>
	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
