<h5>Please answer the following questions for inclusion criteria.</h5><br>
<div id="ex_mt_ic_table_div"></div>
<button type="button" class="btn btn-default" id="ex-mt-ic-submit" onclick="ajax('saveInclusionCriteriaQuestions()', ['confirmedEvType', ---UPDATE TO THE IC #s for the metabolic inhibition evidence types ---- 'IC1','IC2','IC3','IC4','IC5','IC6','IC7','IC8','IC9','IC10','IC11','IC12','IC13','IC14','IC15','IC16','IC17','IC18','IC19','IC20','IC21','IC22' ----- ], ':eval');">Submit</button>

