<h5>Please answer the following questions for inclusion criteria.</h5><br>

<table style="width:100%">
  
  <tr>
    <td style="width:40%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Enzyme Source: </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-1" ng-model="myVar" value="humanHepatocytes">Human Hepatocytes
    </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-1" ng-model="myVar" value="humanLiverMicrosomes">Human Liver Microsomes
    </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-1" ng-model="myVar" value="humanRecombinantEnzymes">Human Recombinant Enzymes
    </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-1" ng-model="myVar" value="unsure">Unsure</label></td>
  </tr>
            
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> NADPH Regenerating System:</label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-2" ng-model="myVar" value="nadphAdded">NADPH added
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-2" ng-model="myVar" value="nadphNotAdded">NADPH not added
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-2" ng-model="myVar" value="unsure">Unsure
    </label></td>
    <td></td>
  </tr>
         
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Antibody Inhibitors: </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-3" ng-model="myVar" value="aiUsed">AI used
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-3" ng-model="myVar" value="aiNotUsed">AI not used
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-3" ng-model="myVar" value="unsure">Unsure
    </label></td>
    <td></td>
  </tr>

  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> In Vitro Selective Inhibitors: </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-4" ng-model="myVar" value="ivsiUsed">IVSI used
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-4" ng-model="myVar" value="ivsiNotUsed">IVSI not used
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-mt-ic-question-4" ng-model="myVar" value="unsure">Unsure
    </label></td>
    <td></td>
  </tr>
  
</table>

<button type="button" class="btn btn-default" id="ex-mt-ic-submit" onclick="ajax('saveInclusionCriteriaQuestions()', ['evidencetype', 'ex-mt-ic-question-1', 'ex-mt-ic-question-2', 'ex-mt-ic-question-3', 'ex-mt-ic-question-4'], ':eval');">Submit</button>
