<h5>Please answer the following questions for inclusion criteria.</h5><br>

<table style="width:100%">
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Animal Study: </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-1" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-1" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-1" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>

  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> In Vitro Inhibitor: </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-2" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-2" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-2" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
          
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Cell Line for P-Glycoprotein: </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-3" ng-model="myVar" value="caco2CellLines">Caco 2 CellLines
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-3" ng-model="myVar" value="mdckmdr1">MDCK-MDR1
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-3" ng-model="myVar" value="unsure">Unsure/NA
    </label></td>
  </tr>

  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Appropriate Controls:</label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-4" ng-model="myVar" value="yes">Yes
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-4" ng-model="myVar" value="no">No
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input type="radio" name="ex-tp-ic-question-4" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
</table>

<button type="button" class="btn btn-default" id="ex-tp-ic-submit" onclick="ajax('saveInclusionCriteriaQuestions()', ['evidencetype', 'ex-tp-ic-question-1', 'ex-tp-ic-question-2', 'ex-tp-ic-question-3', 'ex-tp-ic-question-4'], ':eval');">Submit</button>
          
