<h5>Does this evidence type includes...</h5><br>
<table style="width:100%">
  
  <tr><td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Subtype? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-tp-ev-question-1" type="radio" ng-model="myVar" value="inhibition">Inhibition
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-tp-ev-question-1" type="radio" ng-model="myVar" value="identification">Identification
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-tp-ev-question-1" type="radio" ng-model="myVar" value="unsure">Unsure
    </label></td>
    <td></td>
  </tr>
          
  <tr>
    <td style="width:50%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Assay Type? </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-tp-ev-question-2" type="radio" ng-model="myVar" value="cacoTwoCellLines">Caco 2 Cell Lines
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-tp-ev-question-2" type="radio" ng-model="myVar" value="overExpressedCellLines">Overexpressed Cell Lines
    </label></td>
    <td style="width:20%"><label class="radio-inline">
        <input name="ex-tp-ev-question-2" type="radio" ng-model="myVar" value="unsure">Unsure
    </label></td>
    <td></td>
  </tr>
          
  <tr>
    <td style="width:40%">
      <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Transporter Protein? </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input name="ex-tp-ev-question-3" type="radio" ng-model="myVar" value="pGlycoprotein">P-Glycoprotein
    </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input name="ex-tp-ev-question-3" type="radio" ng-model="myVar" value="oatpOnebOne">OATP1B1
    </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input name="ex-tp-ev-question-3" type="radio" ng-model="myVar" value="oatpOnebThree">OATP1B3
    </label></td>
    <td style="width:10%"><label class="radio-inline">
        <input name="ex-tp-ev-question-3" type="radio" ng-model="myVar" value="unsure">Unsure
    </label></td>
  </tr>
  
</table>          

<button type="button" class="btn btn-default" id="calculate-tp-ev" onclick="ajax('saveEvidenceTypeQuestions', ['evidencetype','ex-tp-ev-question-1', 'ex-tp-ev-question-2', 'ex-tp-ev-question-3'], ':eval');">Calculate</button>	
