<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/evidence_type_calculator/static/js/jquery-3.2.1.min.js"></script>
    <script src="/evidence_type_calculator/static/js/bootstrap-3.3.7.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/evidence_type_calculator/static/css/bootstrap-3.3.7.min.css" crossorigin="anonymous"/>
    <script src="/evidence_type_calculator/static/js/drivecalculator.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href= "/evidence_type_calculator/static/css/drivecalculator.css"/>
    {{include 'web2py_ajax.html'}}
</head>

<body>   
  <!-- Header bar -->
  <div class="page-header">
    <div class="container-fluid">
      <h3>DRIVE <small>Evidence Calculator</small></h3>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">

      <form name="evidence-question-form" enctype="multipart/form-data" method="post">
	
	<input id="evidencetype-value" value="" type="hidden" name="evidencetype" />
	
	<!-- high level evidence type -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Evidence Type<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#" id= "1">Case Report</a></li>
            <li><a tabindex="-1" href="#" id= "2">DDI clinical trial</a></li>
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Experiment<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#" id= "3">Metabolic Experiment</a></li>
                <li><a tabindex="-1" href="#" id= "4">Transport Experiment</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <br>

	<!-- Evidence type questions -->
	<!-- Case report evidence questions -->
        <div class= "radioform" style="display:none;" id='caseReport'>
	  {{include 'forms/cr_ev_questions.html'}}
        </div>

	<!-- DDI Clinical trial evidence questions -->
	<div class= "radioform" style="display:none;" id='clinicalTrial'>
	  {{include 'forms/ct_ev_questions.html'}}	    
        </div>

	<!-- Experiment metabolic evidence questions -->
        <div class= "radioform" style="display:none;" id='metabolic'>
	  {{include 'forms/ex_mt_ev_questions.html'}}	  	  
        </div>

	<!-- Experiment transport evidence questions -->
	<div class= "radioform" style="display:none;" id='transport'>
	  {{include 'forms/ex_tp_ev_questions.html'}}  
        </div>

	<!-- Inferred evidence type -->
	<br><br>
	<div id="inferred-evidencetype-div" style="display:none;">
	  <label for="usr">Inferred evidence type:</label>
	  <input name="inferred-evidencetype" type="text" class="form-control" id="inferred-evidencetype">
	</div>
	
	<!-- Agree or disagree with inferred result -->
	<br>
	<div id="agree-with-inferred-div" style="display:none;">
	  <button type="button" class="btn btn-default" id="ev-type-agree" onclick="ajax('saveInferred', ['inferred-evidencetype'], ':eval');">Agree</button>
	  <button type="button" class="btn btn-default" id="ev-type-disagree" onclick="">Disagree</button>
	</div>
	
	<!-- Entered evidence type -->
	<br>
	<div id="entered-evidencetype-div" style="display:none;">
	  <label for="usr">Enter evidence type:</label>
	  <input name="entered-evidencetype" type="text" class="form-control" id="entered-evidencetype"> <br>
	  <button type="button" class="btn btn-default" id="entered-evidencetype-submit" onclick="ajax('saveEnteredAndInferred', ['entered-evidencetype','inferred-evidencetype'], ':eval');">Submit</button>
	</div>

	<!-- Inclusion criteria questions -->	
	<!-- Case Report -->
	<div id="cr-ic-questions-div" style="display:none;">
	  {{include 'forms/cr_ic_questions.html'}}	  
   	</div>

	<!-- DDI clinical trial -->
	<div id="ct-ic-questions-div" style="display:none;">
	  {{include 'forms/ct_ic_questions.html'}}
	</div>

	<!-- Experiment metabolic -->
	<div id="ex-mt-ic-questions-div" style="display:none;">
	  {{include 'forms/ex_mt_ic_questions.html'}}
	</div>

	<!-- Experiment transport -->
	<div id="ex-tp-ic-questions-div" style="display:none;">
	  {{include 'forms/ex_tp_ic_questions.html'}}
	</div>
	
	</form>
    </div>
  </div>
</body>
</html>
