<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/evidence_type_calculator/static/js/jquery-3.2.1.min.js"></script>
    <script src="/evidence_type_calculator/static/js/bootstrap-3.3.7.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/evidence_type_calculator/static/css/bootstrap-3.3.7.min.css" crossorigin="anonymous"/>
    <script src="/evidence_type_calculator/static/js/drivecalculator.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href= "/evidence_type_calculator/static/css/drivecalculator.css"/>
</head>

<body>   
  <!-- Header bar -->
  <div class="page-header">
    <div class="container-fluid">
      <h3>DRIVE <small>Evidence Calculator</small></h3>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">

      <form name="evidence-question-form" enctype="multipart/form-data" action="{{=URL('evidenceTypeQuestions')}}" method="post">
	<input id="evidencetype-value" value="" type="hidden" name="evidencetype" />

	<!-- METHOD SELECTION ######################################## -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Evidence Type
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#" id= "1">Case Report</a></li>
            <li><a tabindex="-1" href="#" id= "2">DDI clinical trial</a></li>
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Experiment<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#" id= "3">Metabolic Experiment</a></li>
                <li><a tabindex="-1" href="#" id= "4">Transport Experiment</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <br>

	<!-- Case report ############################################## -->
        <div class= "radioform" style='display:none;' id='caseReport'>
          <h5>Was this evidence type...</h5><br>
	    <!-- Reporting an adverse event -->
	    <table style="width:100%">
              <tr><td style="width:50%"><label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Reporting an adverse event? </label></td> 
		<td style="width:20%"><label class="radio-inline">
		    <input name="cr-ae" type="radio" ng-model="myVar" value="yes">Yes
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input  name="cr-ae" type="radio" ng-model="myVar" value="no">No
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input  name="cr-ae" type="radio" ng-model="myVar" value="unsure">Unsure
              </label></td></tr>
            </table>

	    <!-- Publically reported -->
            <table style="width:100%">
              <tr><td style="width:50%">
		  <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Publically reported? </label> </td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="cr-pr" type="radio" ng-model="myVar" value="yes">Yes
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="cr-pr" type="radio" ng-model="myVar" value="no">No
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="cr-pr" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr></table>

	    <!-- Following an evaluation protocol -->
            <table style="width:100%">
              <tr><td style="width:50%">
		  <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Following an evaluation protocol? </label> </td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="cr-ep" type="radio" ng-model="myVar" value="yes">Yes
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="cr-ep" type="radio" ng-model="myVar" value="no">No
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="cr-ep" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr></table>

	    <!-- <button type="submit" class="btn btn-default" id = "calculateCR">Calculate</button>	     -->
        </div>

	<!-- DDI Clinical trial ########################################### -->
	<div class= "radioform" style='display:none;' id='clinicalTrial'>
          <h5>Does this evidence type include...</h5><br>
	  
          <!-- <form name="ct-form" enctype="multipart/form-data" action="{{=URL('clinicalTrialForm')}}" method="post"> -->	    
	    <!-- CT-DDI Group Randomization radio button -->
            <table style="width:100%">
              <tr><td style="width:50%">
		  <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Group Randomization? </label></td>
		<td style="width:20%">
		  <label class="radio-inline">
		    <input name="ct-gr" type="radio" ng-model="myVar" value="yes">Yes
		  </label>
		</td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-gr" type="radio" ng-model="myVar" value="no">No
		  </label>
		</td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-gr" type="radio" ng-model="myVar" value="unsure">Unsure
		  </label>
		</td>
	      </tr>
	    </table> 
	    
	    <!-- CT-DDI Parallel Group Design -->
            <table style="width:100%">
	      <tr><td style="width:50%">
		  <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Parallel Group Design? </label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-pgd" type="radio" ng-model="myVar" value="yes">Yes
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-pgd" type="radio" ng-model="myVar" value="no">No
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-pgd" type="radio" ng-model="myVar" value="unsure">Unsure
              </label></td></tr>
	    </table>
	    
	    <!-- CT-DDI Pharmacokinetic Processes -->
            <table style="width:100%">
              <tr><td style="width:50%">
		  <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Study Focused on Pharmacokinetic Processes? </label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-pk" type="radio" ng-model="myVar" value="yes">Yes
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-pk" type="radio" ng-model="myVar" value="no">No
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-pk" type="radio" ng-model="myVar" value="unsure">Unsure
		</label></td>
	    </table>

	    <!-- CT-DDI Phenotyping -->
            <table style="width:100%">
              <tr><td style="width:50%">
		  <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Phenotyping? </label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-ph" type="radio" ng-model="myVar" value="yes">Yes
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-ph" type="radio" ng-model="myVar" value="no">No
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-ph" type="radio" ng-model="myVar" value="unsure">Unsure
              </label></td></tr>
	    </table>
	    
	    <!-- CT-DDI Genotyping -->
            <table style="width:100%">
              <tr><td style="width:50%">
		  <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Genotyping?</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-gt" type="radio" ng-model="myVar" value="yes">Yes
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-gt" type="radio" ng-model="myVar" value="no">No
		</label></td>
		<td style="width:20%"><label class="radio-inline">
		    <input name="ct-gt" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr></table>	      
          <br>	  
        </div>

	<!-- Experiment metabolic ############################################### -->
        <div class= "radioform" style='display:none;' id='metabolic'>

	  <!-- metabolic experiment sub type -->
          <table style="width:100%">
            <tr><td style="width:50%">
            <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Subtype? </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-st" type="radio" ng-model="myVar" value="inhibition">Inhibition
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-st" type="radio" ng-model="myVar" value="identification">Identification
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-st" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr>
	  </table>

	  <!-- metabolic experiment assay type -->
          <table style="width:100%">
            <tr><td style="width:50%">
            <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Assay Type? </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-at" type="radio" ng-model="myVar" value="humanTissue">Human Tissue
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-at" type="radio" ng-model="myVar" value="cellLine">Cell Line
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-at" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr>
	  </table>

	  <!-- metabolic experiment metabolic inhibitor -->
	  <table style="width:100%">
            <tr><td style="width:50%">
            <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Metabolic Inhibitor? </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-mi" type="radio" ng-model="myVar" value="antibody">Antibody
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-mi" type="radio" ng-model="myVar" value="chemical">Chemical
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-m-mi" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr>
	  </table>
	  
          <br>
        </div>

	<!-- Experiment transport ############################################### -->
	<div class= "radioform" style='display:none;' id='transport'>
          <form>
          <table style="width:100%">
            <tr><td style="width:50%">
            <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Subtype? </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-t-st" type="radio" ng-model="myVar" value="inhibition">Inhibition
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-t-st" type="radio" ng-model="myVar" value="identification">Identification
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-t-st" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr>
	  </table>

          <table style="width:100%">
            <tr><td style="width:50%">
            <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Assay Type? </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-t-at" type="radio" ng-model="myVar" value="cacoTwoCellLines">Caco 2 Cell Lines
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-t-at" type="radio" ng-model="myVar" value="overExpressedCellLines">Overexpressed Cell Lines
            </label></td>
            <td style="width:20%"><label class="radio-inline">
            <input name="exp-t-at" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr>
	  </table>

          <table style="width:100%">
            <tr><td style="width:40%">
            <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Transporter Protein? </label></td>
            <td style="width:10%"><label class="radio-inline">
            <input name="exp-t-tp" type="radio" ng-model="myVar" value="pGlycoprotein">P-Glycoprotein
            </label></td>
            <td style="width:10%"><label class="radio-inline">
            <input name="exp-t-tp" type="radio" ng-model="myVar" value="oatpOnebOne">OATP1B1
            </label></td>
            <td style="width:10%"><label class="radio-inline">
            <input name="exp-t-tp" type="radio" ng-model="myVar" value="oatpOnebThree">OATP1B3
            </label></td>
            <td style="width:10%"><label class="radio-inline">
            <input name="exp-t-tp" type="radio" ng-model="myVar" value="unsure">Unsure
            </label></td></tr>
	  </table>
          
          <br>
        </div>
	
	<button type="submit" class="btn btn-default" id = "calculate">Calculate</button>	 
      </form>


      <!-- Content #7 -->
      <div id="confirmBox">
        <div class="message"></div>
        <span class="yes">Yes</span>
        <span class="no">No</span>
      </div>

    <!--   <\!-- Content #8 -\->  -->
    <!--     <div class= "radioform" style='display:none;' id='caseReportIC'> -->
    <!--       <h5>Please answer the following questions.</h5><br> -->
    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Previous Credible Reports in Humans? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio1">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio1">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio1">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->

    <!--       <\!-- EX for switch based on form response -->
    <!--       <div ng-switch="myVar"> -->
    <!--         <div ng-switch-when="inhibition"> -->

    <!--         </div> -->
    <!--       </div> -\-> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Interaction Consistent with Known Interactive Qualities of the Precipitant Drug? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio2">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio2">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio2">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->


    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Interaction Consistent with Known Interactive Qualities of the Object Drug? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio3">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio3">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio3">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Interaction Consistent with Known Reasonable Time Course of the Interaction (onset and/or offest)? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio4">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio4">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio4">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Did the interaction remit upon de-challenge of the precipitant drug with no change in oject drug? (If no de-challenge, use unknown and skip to question 6)? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio5">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio5">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio5">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Did the interaction reappear when precipitant drug was readministered with continued used of object drug? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio6">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio6">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio6">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Reasonable alernative causes? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio7">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio7">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio7">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the object drug detected in the blood or other fluids in concentrations consistent with the interaction?: </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio8">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio8">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio8">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the drug interaction confirmed by objective evidence consistent with the affects on the object drug (other than from question 8)?: </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio9">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio9">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio9">Unsure -->
    <!--         </label></td> -->
    <!--       </form> -->

    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the interaction greater when the precipitant dose was increased or less when the precipitant dose was decreased? </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio10">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio10">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" name= "optradio10">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->
    <!--       <br> -->
    <!--     </div> -->

    <!--   <\!-- Content #9 -\-> -->
    <!--     <div class= "radioform" style='display:none;' id='clinicalTrialIC'> -->
    <!--         <h5>Please answer the following questions.</h5><br> -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was there a polymorphic assertion linked as an assumption for the intended use of the evidence item? </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="no">No -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td></tr></table> -->
    <!--         </form> -->

    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Was the specific genotype of the enzyme  noted in the description of evidence? </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="no">No -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td> -->
    <!--         </form> -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> If the substrate is being evaluated to support or refute that drug is a substrate of P-Glycoprotein, did the study compare wild type to variants in ABCB1 including 3435C$>$T, 2677G$>$T and 1236C$>$T? </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="no">No -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td></tr></table> -->
    <!--         </form> -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> If the substrate is being evaluated to support or refute that drug is a substrate of OATP1B1, did the study compare wild type to variants in SLCO1B1? </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="no">No -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td></tr></table> -->
    <!--         </form>           -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> If the substrate is being evaluated to support of refute that a drug is a substrate of OATP1B3, did the study compare wild type to variants in SLCO1B3? </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="no">No -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td></tr></table> -->
    <!--         </form>   -->
    <!--     </div> -->

    <!-- <\!-- Content #10 -\-> -->
    <!--     <div class= "radioform" style='display:none;' id='metabolicIC'> -->
    <!--         <h5>Please answer the following questions.</h5><br> -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:40%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Enzyme Source: </label></td> -->
    <!--           <td style="width:10%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="humanHepatocytes">Human Hepatocytes -->
    <!--           </label></td> -->
    <!--           <td style="width:10%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="humanLiverMicrosomes">Human Liver Microsomes -->
    <!--           </label></td> -->
    <!--           <td style="width:10%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="humanRecombinantEnzymes">Human Recombinant Enzymes -->
    <!--           </label></td> -->
    <!--           <td style="width:10%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td> -->
    <!--         </form> -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> NADPH Regenerating System:</label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="nadphAdded">NADPH added -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="nadphNotAdded">NADPH not added -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td></tr></table> -->
    <!--         </form>          -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Antibody Inhibitors: </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="aiUsed">AI used -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="aiNotUsed">AI not used -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td> -->
    <!--         </form> -->
    <!--         <form> -->
    <!--         <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--           <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> In Vitro Selective Inhibitors: </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="ivsiUsed">IVSI used -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="ivsiNotUsed">IVSI not used -->
    <!--           </label></td> -->
    <!--           <td style="width:20%"><label class="radio-inline"> -->
    <!--           <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--           </label></td></tr></table> -->
    <!--         </form> -->
    <!--     </div> -->

    <!-- <\!-- Content #11 -\-> -->
    <!--     <div class= "radioform" style='display:none;' id='transportIC'> -->
    <!--       <h5>Please answer the following questions.</h5><br> -->
    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Animal Study: </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="no">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->
    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> In Vitro Inhibitor: </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="no">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->
    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Cell Line for P-Glycoprotein: </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="caco2CellLines">Caco 2 CellLines -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="mdckmdr1">MDCK-MDR1 -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="unsure">Unsure/NA -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->
    <!--       <form> -->
    <!--       <table style="width:100%"> -->
    <!--         <tr><td style="width:50%"> -->
    <!--         <label data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Appropriate Controls:</label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="yes">Yes -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="no">No -->
    <!--         </label></td> -->
    <!--         <td style="width:20%"><label class="radio-inline"> -->
    <!--         <input type="radio" ng-model="myVar" value="unsure">Unsure -->
    <!--         </label></td></tr></table> -->
    <!--       </form> -->
    <!--     </div> -->
        
    <!-- <\!-- Content #12 -\->  -->
    <!--   <br> -->
    <!--   <\!-- <button type="button" class="btn btn-default" style='display:none;' id = "calculateTwo">Calculate</button> -\-> -->

    <!-- <\!-- Content #13 -\->  -->
    <!--     <form class="form-inline" style='display:none;' id='comments'> -->
    <!--         <div class="form-group"> -->
    <!--           <label class="sr-only">Comments</label> -->
    <!--           <p class="form-control-static"> Evidence Type Comments:</p> -->
    <!--         </div> -->
    <!--         <div class="form-group mx-sm-3"> -->
    <!--           <label for="inputPassword2" class="sr-only"></label> -->
    <!--           <input type="text" class="form-control" id="inputPassword2"> -->
    <!--         </div> -->
    <!--         <button type="button" class="btn btn-default" id = "continue">Continue to Inclusion Criteria</button> -->
    <!--       </form>     -->

    <!-- 	<\!-- Content #14 -\-> -->
    <!--     <div id="confirmBoxTwo"> -->
    <!--     <div class="message"></div> -->
    <!--     <span class="yes">Yes</span> -->
    <!--     <span class="no">No</span> -->
    <!--     </div>  -->

    <!-- 	<\!-- Content #15 -\->  -->
    <!--     <br> -->
    <!--     <form class="form-inline" style='display:none;' id='commentsTwo'> -->
    <!--         <div class="form-group"> -->
    <!--           <label class="sr-only">Comments</label> -->
    <!--           <p class="form-control-static">Inclusion Criteria Comments:</p> -->
    <!--         </div> -->
    <!--         <div class="form-group mx-sm-3"> -->
    <!--           <label for="inputPassword2" class="sr-only"></label> -->
    <!--           <input type="text" class="form-control" id="inputPassword2"> -->
    <!--         </div> -->
    <!--         <button type="button" class="btn btn-default" id = "complete">Complete</button> -->
    <!--       </form>     -->

    <!-- 	<\!-- Content #16 -\-> -->
    <!-- 	<br> -->
    <!-- 	<div class= "container" style='display:none;' id = "lastStep"> -->
    <!-- 	  <p> Click to go back or begin a new effort </p> -->
    <!-- 	  <button type="button" class="btn btn-default" style= 'display: inline;' id = "goBack">Go Back</button> -->
    <!-- 	  <button type="button" class="btn btn-default" style= 'display: inline;' id = "new">New Effort</button> -->
    <!-- 	</div> -->

    </div>
  </div>
</body>
</html>
