<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/evidence_type_calculator/static/js/jquery-3.2.1.min.js"></script>
    <!-- <script src="/evidence_type_calculator/static/js/jquery-3.3.1.min.js"></script> --> <!-- TODO: update to jquery-3.3.1 sometime. Currently triggers error b/c of 'button' class -->
    <script src="/evidence_type_calculator/static/js/bootstrap-3.3.7.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/evidence_type_calculator/static/css/bootstrap-3.3.7.min.css" crossorigin="anonymous"/>
    <script src="/evidence_type_calculator/static/js/drivecalculator.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href= "/evidence_type_calculator/static/css/drivecalculator.css"/>
    {{include 'web2py_ajax.html'}}
    <script>
      <!-- provides a simple prompt for the user to wait -->
      $(document).ajaxStart(function(){
      // Show image container
      $("#loader").show();
      });
      $(document).ajaxComplete(function(){
      // Hide image container
      $("#loader").hide();
      });  
    </script>

</head>

<body>   
  <!-- Header bar -->
  <div class="page-header">
    <div class="container-fluid">
      <h3>DRIVE <small>Evidence Calculator</small></h3>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">

      <form name="evidence-question-form" enctype="multipart/form-data" method="post">
	
	<input id="evidencetype-value" value="" type="hidden" name="evidencetype" />
	
	<!-- high level evidence type -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Evidence Type<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#" id= "1">Case Report</a></li>
            <li><a tabindex="-1" href="#" id= "2">DDI clinical trial</a></li>
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Experiment<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#" id= "3">Metabolic Experiment</a></li>
                <li><a tabindex="-1" href="#" id= "4">Transport Experiment</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <br>

	<!-- Evidence type questions -->
	<!-- Case report evidence questions -->
        <div class= "radioform" style="display:none;" id='caseReport'>
	  {{include 'forms/cr_ev_questions.html'}}
        </div>

	<!-- DDI Clinical trial evidence questions -->
	<div class= "radioform" style="display:none;" id='clinicalTrial'>
	  {{include 'forms/ct_ev_questions.html'}}	    
        </div>

	<!-- Experiment metabolic evidence questions -->
        <div class= "radioform" style="display:none;" id='metabolic'>
	  {{include 'forms/ex_mt_ev_questions.html'}}	  	  
        </div>

	<!-- Experiment transport evidence questions -->
	<div class= "radioform" style="display:none;" id='transport'>
	  {{include 'forms/ex_tp_ev_questions.html'}}  
        </div>

	<!-- provide a simple prompt for the user to wait -->
	<div id='loader' style='display: none;'>
	  <h2>Please wait...</h2>
	</div>


	<!-- Inferred evidence type -->
	<br><br>
	<div id="inferred-evidencetype-div" style="display:none;">
	  <label for="usr">Inferred evidence type:</label>
	  <input name="inferred-evidencetype" type="text" class="form-control" id="inferred-evidencetype">
	  <p><div name="inferred-evidencetype-def" id="inferred-evidencetype-def"></p>
	</div>
	<br>
	
	<!-- Agree or disagree with inferred result -->
	<br>
	<div id="agree-with-inferred-div" style="display:none;">
	  <button type="button" class="btn btn-default" id="ev-type-agree" onclick="ajax('agreeInferred', ['inferred-evidencetype'], ':eval');">Agree</button>
	  <button type="button" class="btn btn-default" id="ev-type-disagree" onclick="">Disagree</button>
	</div>
	
	<!-- Entered evidence type -->
	<br>
	<div id="entered-evidencetype-div" style="display:none;">
	  <label for="usr">Enter evidence type:</label>
	  <input name="entered-evidencetype" type="text" class="form-control" id="entered-evidencetype"> <br>
	  <button type="button" class="btn btn-default" id="entered-evidencetype-submit" onclick="ajax('saveEnteredAndInferred', ['entered-evidencetype','inferred-evidencetype'], ':eval');">Submit</button>
	</div>

	<!-- Inclusion criteria questions -->	
	<!-- Case Report -->
	<div id="cr-ic-questions-div" style="display:none;">
	  {{include 'forms/cr_ic_questions.html'}}	  
   	</div>

	<!-- DDI clinical trial -->
	<div id="ct-ic-questions-div" style="display:none;">
	  {{include 'forms/ct_ic_questions.html'}}
	</div>

	<!-- Experiment metabolic -->
	<div id="ex-mt-ic-questions-div" style="display:none;">
	  {{include 'forms/ex_mt_ic_questions.html'}}
	</div>

	<!-- Experiment transport -->
	<div id="ex-tp-ic-questions-div" style="display:none;">
	  {{include 'forms/ex_tp_ic_questions.html'}}
	</div>

	<!-- Inclusion criteria result -->
	<br><br>
	<div id="ic-div" style="display:none;">
	  <label for="usr">Meet inclusion criteria? </label>
	  <input name="ic-result" type="text" class="form-control" id="ic-result">
	</div>
	
	<!-- Agree or disagree with inclusion criteria result -->
	<br>
	<div id="agree-with-ic-div" style="display:none;">
	  <button type="button" class="btn btn-default" id="ic-agree" onclick="ajax('agreeInclusionCriteria');">Agree</button>
	  <button type="button" class="btn btn-default" id="ic-disagree" onclick="ajax('disagreeInclusionCriteria');">Disagree</button>
	</div>

	<div id="ic-comment-div" style="display:none;">
	  <label for="usr">Comment: </label>
	  <input name="ic-comment" type="text" class="form-control" id="ic-comment">
	  <button type="button" class="btn btn-default" id="finish-task" onclick="ajax('finishTask', ['ic-comment'], ':eval');">Finish</button>
	</div>
	
	</form>
    </div>
  </div>
</body>

<script>

$(document).ready(function(){
    $.ajax({url: "loadEvidenceTypeQuestions"})
    .done(function(data) {
	if (data && data !== "None") {

	    jsonData = $.parseJSON(data);
	    console.log(jsonData);
	    
	    mp_method = jsonData["mp_method"];
	    questions = jsonData["questions"];
	    inferred_ev = jsonData["inferred_evidence_type"];
	    agree_inferred = jsonData["is_agree_with_inference"];
	    entered_ev = jsonData["entered_evidence_type"];
	    
	    showEvidenceQuestionsByMethod(mp_method);

	    // fill existing answers
	    for (var uicode in questions) {
		$("input[name='"+uicode+"'][value='"+questions[uicode]+"']").attr("checked", "checked");
	    }

	    // show and fill inferred evidence type and entered evidence type
	    if (inferred_ev && inferred_ev !== "None") {
		$("#inferred-evidencetype-div").css("display","block");
		$("#inferred-evidencetype").val(inferred_ev);

		if (agree_inferred != 'T' && agree_inferred != 'F') { // filled agreement
		    $("agree-with-inferred-div").css("display","block")
		} else {
		    if (agree_inferred == 'F') { // not user entered
			$("#entered-evidencetype-div").css("display","block");
			if (entered_ev && entered_ev !== "None") {
			    $("#entered-evidencetype").val(entered_ev);
			    showInclusionCriteriaByMethod(mp_method);
			}			
		    } else {
			showInclusionCriteriaByMethod(mp_method);
		    }
		    
		}	
	    }
	}
    });
});
</script>

</html>
